/// main.less -- Styling for the main page


.page.main {
  display: grid;
  min-width: 100%;
  height: 100%;
  grid-template-areas:
    'header header  header'
    'left   content right'
    'footer footer  footer';
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: auto 1fr 40px;

  @media #media[desktop-query] {
    grid-template-areas:
      'header header'
      'left   content'
      'right  content'
      'footer footer';
    grid-template-columns: 2fr 8fr;
    grid-template-rows: auto 1fr 1fr 40px;
  }

  > .panel.header {
    grid-area: header;    
  }

  > .panel.left {
    grid-area: left;
  }

  > .panel.right {
    grid-area: right;
  }

  > .panel.content {
    grid-area: content;
  }

  > .panel.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer;
  }
}
