/// main-header.less -- Styling for the main header component

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #color[primary];

  > .logo {
    color: #color[secondary];
    padding: 0 0.5em;
    font-weight: 700;
    font-size: 4em;
  }
}
