/// main-header.less -- Styling for the main header component

.main-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  color: #color[secondary];
  background-color: #color[background-secondary];

  > .logo {
    color: #color[secondary];
    font-weight: 700;
    font-size: 4em;
    padding: 0 0.5em;
  }
}
